# Password: "test"
ADMIN_PASSWORD_NT_HASH=0cb6948805f797bf2a82807973b89537
# Remember to escape the $ signs in the hash with $$
ADMIN_PASSWORD_CRYPT=$$5$$bHAlEAUleJsbYYn/$$FiZ5CCcPChHyNGkNPjtXlKm7KSeltWuhO1A9KOSL4R6
